@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
:root {
	--very-dark-blue: hsl(233, 47%, 7%);
	--dark-desaturated-blue: hsl(244, 38%, 16%);
	--soft-violet: hsl(277, 64%, 61%);
	--white: hsl(0, 0%, 100%);
	--slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
	--slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	color: var(--white);
	font-size: 15px;
}

ul li {
	list-style: none;
}

.container {
	padding: 15px;
	background-color: var(--very-dark-blue);
}

.card {
	margin: 20px auto;
	border-radius: 10px;
	background-color: var(--dark-desaturated-blue);
}
.card-image {
	width: 100%;
	height: 100%;
	margin-bottom: 35px;
	position: relative;
}
.card-image img {
	width: 100%;
	border-radius: 10px 10px 0 0;
}
.overlay {
	position: absolute;
	inset: 0;
	background-color: var(--soft-violet);
	opacity: 0.7;
	border-radius: 10px 10px 0 0;
}
.card-description {
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.card-description h1 {
	font-weight: 700;
	text-align: center;
	margin-bottom: 15px;
}

.card-description h1 > span {
	color: var(--soft-violet);
}
.card-description p {
	color: var(--slightly-transparent-white);
	text-align: center;
	line-height: 1.8;
	margin-bottom: 35px;
}

.card-description-stats {
	text-align: center;
}

/* .stat {
	margin-bottom: 25px;
}

.stat h2 {
	font-weight: 700;
	margin-bottom: 10px;
}

.stat span {
	font-size: 12px;
	color: var(--slightly-transparent-white);
	text-transform: uppercase;
} */

.stats {
	display: flex;
	flex-direction: column;
}

.stat {
	margin-bottom: 30px;
}

.stat span {
	display: block;
}

.stat-number {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}

.stat-title {
	font-size: 12px;
	color: var(--slightly-transparent-white);
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {
	.container {
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.card {
		width: 1000px;
		height: 412px;
		display: flex;
		flex-direction: row-reverse;
	}

	.card-image {
		width: 50%;
		margin: 0;
	}

	.card-image img {
		border-radius: 0 10px 10px 0;
	}

	.overlay {
		border-radius: 0 10px 10px 0;
	}

	.card-description {
		width: 50%;
		padding: 0 60px;
		margin: 10px auto;
	}

	.card-description h1 {
		text-align: left;
		margin-bottom: 25px;
	}

	.card-description p {
		text-align: left;
		margin-bottom: 60px;
	}
	.card-description-stats {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.stat {
		text-align: left;
	}

	.stat h2 {
		margin-bottom: 5px;
	}
}
